.card-name {
    text-align: center;
}

.text-box {
    text-align: center;
}

.profile-container{
    display: grid;
    align-items: center;
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
}